$fn-tooltip-background:    rgba(0, 0, 0, 0.8) !default;
$fn-tooltip-text-size:     1rem               !default;
$fn-tooltip-text-color:    #FFF               !default;
$fn-tooltip-arrow-size:    0.4rem             !default;
$fn-tooltip-z-index:       2147483647         !default;
$fn-tooltip-border-radius: 4px                !default;